#menubar {
  width: 100%;
  position: sticky !important;
  top: 0;
  height: 100vh;
  align-items: center;
  z-index: 10;
  transition: 0.5s;
}

.inspection_theme {
  background-color: #06278a;
  color: white !important;
}

.default_theme {
  background-color: white;
  color: black !important;
}

.multimedia_theme {
  background-color: #212121;
  color: white !important;
}

.carrer_theme {
  background-color: #256de9;
  color: white !important;
}

.cng_theme {
  background-color: #112714;
  color: white !important;
}

#menubar a {
  text-decoration: none;
}

#servicesList a {
  text-decoration: none;
  color: black;
}

#clip_img_pseudo {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgb(255, 115, 0), orange);
  left: 0px;
  top: 0;
  transform-origin: left;
}

#clip_img_pseudo2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgb(255, 115, 0), orange);
  left: 0px;
  top: 0;
  transform-origin: left;
}

#clip_img_1 {
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  transition: 1s;
  transform: scale(1);
  z-index: 2;
}

#clip_img_2 {
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0 100%);
  transition: 1s;
  position: relative;
  z-index: 1;
}

#menubar > div:first-child {
  scale: 1.5;
  transition: 0.4s;
}

nav {
  right: 0;
  transform: translateY(-200%);
  transition: 0.4s;
}

#mobileNav {
  position: fixed;
  top: 0px;
  z-index: 11;
  width: 100vw;
  height: 100vh;
  left: 100%;
  padding-top: 100px;
  padding-left: 20px;
  font-size: 30px !important;
  transition: 0.5s;
  background-color: white;
}

#mobileNav > * {
  padding-bottom: 5px;
}

.ham {
  right: 0;
  top: 0;
  z-index: 5;
}

.ham img {
  width: 40px;
}

.shrink {
  animation: shrink 0.5s forwards;
}

#mobileServiceContainer {
  height: 100vh;
  width: 100vw;
  left: 100%;
  top: 0px;
  transition: 0.4s;
  padding: 15px;
}

@keyframes shrink {
  0% {
    height: 100vh;
  }

  80% {
    height: 70px;
  }

  100% {
    height: 70px;
  }
}

.navText {
  font-size: 25px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  transition: 0.2s;
  transform-origin: center;
  color: black;
  text-decoration: none !important;
  font-weight: 400;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navText:hover {
  scale: 1.1;
  transition: 0.2s;
  font-weight: 500;
}

.cngText {
  font-size: 25px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
  transition: 0.2s;
  transform-origin: center;
  text-decoration: none !important;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #0e86d4;
  font-weight: 600;
}

.cngText span {
  color: #eebc39;
}

.cngText:hover {
  scale: 1.1;
  transition: 0.2s;
  font-weight: 500;
}

.logoText {
  font-size: 25px;
  font-weight: 700;
  padding-left: 10px;
  display: flex;
  align-items: center;
  color: black;
}

.mecText {
  text-decoration: none;
}

.mecText {
  color: #39b54a;
  font-weight: 500;
  font-size: 20px;
}

.callButton {
  background-color: #fdca18;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: ease 0.5s;
}

.callButton:hover {
  width: 120px;
  border-radius: 30px;
}

.callButton img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}

.callButton a {
  white-space: nowrap;
  color: white !important;
  font-size: 13px !important;
  align-items: center;
  padding-left: 7px;
  padding-right: 3px;
  font-weight: 400;
}

#logo_seg {
  transition: all 0.4s ease-in-out;
  transform: translate(0, 100%);
  overflow: hidden;
}

.logoAnim {
  display: block;
  animation: reveal cubic-bezier(0.77, 0, 0.175, 1) 1.3s forwards;
}

@keyframes reveal {
  0% {
    transform: translate(0, 100%);
  }

  80% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

div:has(> #logo_seg) {
  transition: 0.4s;
}

#closeIcon img {
  width: 30px;
  position: absolute;
  top: 20px;
  right: 25px;
}

/* ----------------------services list style-------------------------- */

#service_dropdown_icon {
  margin-left: 4px;
  display: flex;
  align-items: center;
}

#servicesList_section {
  top: 70px;
  height: calc(100vh - 70px);
  min-height: 100%;
  position: absolute;
  background-color: white;
  width: 100%;
  overflow: scroll;
  z-index: 15;
}

.servicesList_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  height: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 50px;
}

.servicesList_search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.serviceSearchBox_parent {
  width: 40%;
  display: flex;
  gap: 5px;
  align-self: center;
  background: linear-gradient(179.93deg, #f3f3f3, #fff 81.59%);
  border: 1px solid #ddd;
  border-radius: 30px;
  padding: 10px;
}

.MobileserviceSearchBox_parent {
  width: 80%;
  display: flex;
  gap: 5px;
  align-self: center;
  background: linear-gradient(179.93deg, #f3f3f3, #fff 81.59%);
  border: 1px solid #ddd;
  border-radius: 30px;
  padding: 10px;
}

.serviceSearchBox {
  background-color: transparent;
  width: 100%;
  outline: none;
  border: none;
  font-size: 16px !important;
  color: black;
}

.serviceSearchBox::placeholder {
  font-size: 16px !important;
  font-weight: 300 !important;
  color: #9ca3af;
}

#servicesList {
  padding-top: 30px;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.servicecategory {
  padding: 15px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fafafa;
}

.serviceList_category {
  padding-top: 20px;
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.servicecategory_name {
  font-size: 15px;
  text-decoration: 1px underline;
  -webkit-text-decoration: underline;
  text-underline-offset: 4px;
  font-weight: 500;
  color: black;
}

.serviceList_style {
  cursor: pointer;
  padding: 20px;
  transition: 0.5s;
  display: flex;
  align-items: center;
  /* background-color: #ecebeb; */
  background: linear-gradient(179.93deg, #f3f3f3, #fff 81.59%);
  box-shadow: 0 5px 5px 0 #efefefcc;
  border-radius: 10px;
}

.serviceList_style a {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
}

/* .serviceList_style:hover {
  background-color: #e3e3e3;
  border-radius: 10px;
} */

.serviceList_icon {
  width: 18%;
  display: flex;
  align-items: center;
}

.serviceList_icon img {
  width: 75%;
  text-align: center;
}

.serviceList_content {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
}

.serviceList_name {
  font-size: 15px;
  font-weight: 600;
}

.serviceList_description {
  font-size: 13px;
  font-weight: 400;
}

.serviceList_button {
  display: flex;
  justify-content: end;
  align-items: end;
}

.serviceList_close_btn {
  padding: 13px 35px;
  background-color: black;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border-radius: 10px;
  border: none;
}

.serviceList_button-mb {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 120px;
}

.serviceList_close_btn-mb {
  padding: 10px 20px;
  background-color: black;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border-radius: 10px;
  border: none;
}

/* ---------------------------------------------------download app section------------------------------------------------------------------ */

#downloadApp {
  background-image: url(./../images/landing/app-3.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.application-play-btn {
  width: 185px;
  background-color: #2a2a2a;
  border-radius: 7px;
  overflow: hidden;
  transition: 0.5s;

  &:hover {
    background-color: green;
  }

  img {
    width: 40px;
    position: relative;
  }

  .btn-content {
    display: inline-block;
    padding-left: 10px;
    span {
      font-size: 10px;
      color: #ffffff;
    }
  }
}

#downloadApp_title2 {
  font-size: 30px;
  line-height: 110%;
}

/* ------------------------------------------------ */

#chatButton {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

#chatIcon {
  background-color: #26cc64;
  transition: 0.3s;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

#chatIcon:hover {
  transform: scale(1.15);
}

#animation_text {
  height: 20px;
  line-height: 20px;
  transition: 0.5s;
  font-size: 9.3px;
}

#mobileServices img {
  width: 50px;
}

.no-scroll {
  overflow: hidden;
}

@media screen and (max-width: 991px) {
  #mobileServices {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 0;
  }

  .serviceList_category {
    display: flex;
    flex-direction: column;
  }

  .servicecategory_name {
    padding: 0;
  }

  .serviceList_style {
    width: 100%;
    padding: 20px 20px;
  }

  .serviceList_icon {
    width: unset;
  }

  .serviceList_style a {
    width: 100%;
    align-items: center;
  }
}

@media (min-width: 991px) {
  .navText,
  .cngText {
    font-size: 16px;
  }

  #menubar > div:first-child {
    scale: 4;
    transition: 0.4s;
  }
}

@media screen and (min-width: 2000px) {
  .serviceSearchBox_parent {
    padding: 15px;
  }

  .serviceSearchBox {
    font-size: 20px !important;
  }

  .serviceSearchBox::placeholder {
    font-size: 20px !important;
  }

  #servicesList {
    gap: 50px;
    padding-top: 50px;
  }

  .servicecategory {
    padding: 25px;
  }

  .servicecategory_name {
    font-size: 18px;
  }

  .serviceList_icon img {
    width: 100%;
  }

  .serviceList_name {
    font-size: 20px;
  }

  .serviceList_description {
    font-size: 16px;
  }
}
